*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  overflow-x: hidden;
  background: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

input {
  all: unset;
}
a {
  text-decoration: none;
  color: #fff;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  color: inherit;
  font: inherit;
  line-height: normal;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 15px;
}
.time {
  font-size: 60px;
}
h1 {
  text-align: center;
}
.greetings {
  padding-top: 20px;
  font-size: 30px;
}
.plan {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 376px) {
  #timer {
    font-size: 40px;
  }
}
